.App {
  text-align: center;
}

input[type="button"] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 5px 3px;
}

input[type="button"]:hover {
  background-color: #329c36;
  cursor: pointer;
}